{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Авторизоваться</h3>
	<table class="table table-bordered">
		<form method="post">
			{% csrf_token %}
			{{form.as_table}}
			<tr>
				<td colspan="2">
					<input type="submit" value="Login" class="btn btn-primary" />
				</td>
			</tr>
		</form>
	</table>
	<p><a href="{% url 'password_reset' %}" class="text-danger">Сброс Пароля?</a></p>
	<p>Если вы не зарегистрированы, пожалуйста <a href="{% url 'signup' %}">Зарегистрируйтесь здесь</a>.</p>
</main>
{% endblock %}